---
# tasks file for roles/nginx-proxy

- ansible.builtin.import_tasks: pre-tasks.yml

- name: nginx | main config
  become: true
  template:
    src: nginx-conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
  notify:
    - restart nginx

- ansible.builtin.include_tasks: nginx-selinux.yml
  when: selinux_enabled

- ansible.builtin.import_tasks: nginx-additional.yml

- ansible.builtin.import_tasks: nginx-cache.yml

- ansible.builtin.import_tasks: nginx-websockets.yml

- ansible.builtin.import_tasks: nginx-redirects.yml

- ansible.builtin.import_tasks: nginx-streams.yml

- ansible.builtin.import_tasks: nginx-proxy-sites.yml

- name: nginx | start service
  become: true
  service:
    enabled: true
    name: nginx
    state: started
  when: nginx_proxy_systemd_setup
