---
# Must be imported to prevent
# undeclared variable failure
- name: nginx proxy | Import ome.selinux_utils role
  ansible.builtin.import_role:
    name: selinux_utils

- name: nginx proxy| Include ome.nginx role
  ansible.builtin.include_role:
    name: nginx
  vars:
    nginx_systemd_setup: "{{ nginx_proxy_systemd_setup }}"
